.plansScreen_plan {
  display: flex;
  flex-direction: ro;
  justify-content: center;
  padding: 15px;
  opacity: 0.8;
}
.plansScreen_plan:hover {
  opacity: 1;
}
.plansScreen_info > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
